# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Source/PinnedDownCore/PinnedDownCore/Debug/
Source/PinnedDownCore/PinnedDownCore/Release/
Source/PinnedDownCore/PinnedDownCore.sdf
Source/PinnedDownCore/PinnedDownCore.v11.suo
